<div class="container mt-5">
  <div class=" row justify-content-center">
  <div  class="col-xs-12">
    <h1>Class 13 - Exercise #1</h1>
    <img src="https://images.unsplash.com/photo-1511268786328-fbf79bdb5592?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=MnwxfDB8MXxyYW5kb218MHx8c2NpZmksYm9va3x8fHx8fDE2NDg1MTM1MjA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=500"
    [style.height]="height + 'px'"
    [style.width]="width + 'px'"
    alt="">
  </div>
  </div>
</div>
