<!-- TITLE -->
<div class="row">
  <div class="col-md-12">
    <h2>Book Title</h2>
  </div>
</div>

<!-- Author -->
<div class="row">
  <div class="col-md-12">
    <h2>Author</h2>
  </div>
</div>

<!-- Genre -->
<div class="row">
  <div class="col-md-12">
    <p>Genre</p>
  </div>
</div>

<!-- Cover Image -->
<div class="row">
  <div class="col-md-12">
    <img src="" alt="tsk">
  </div>
</div>

<!-- Edit Button-->
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary">Edit Book</button>
  </div>
</div>
