.pOne {
  background-color: blue;
  color: white;
}
.pTwo {
  background-color: lightgray;
  color: white;
}
.pThree {
  background-color: green;
  color: yellow;
}
.pFour {
  background-color: orange;
  color: peachpuff;
}
